<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      .emails {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      .emails td, .emails th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .emails tr:nth-child(even){background-color: #f2f2f2;}

      .emails tr:hover {background-color: #ddd;}

      .emails th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= @user.full_name %></h1>
    <p>
      You have visited these websites last week:
    </p>
    <table class='emails'>
      <tr>
        <th>Domain</th>
        <th>Page</th>
        <th>Date</th>
      </tr>
      <% @page_visits.each do |page_visit| %>
        <tr>
          <td><%= page_visit.host%></td>
          <td><%= page_visit.path%></td>
          <td><%= page_visit.created_at.to_date%></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
